<settings>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation><activeByDefault>true</activeByDefault></activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                    http://172.17.0.9:9000
                </sonar.host.url>
                <sonar.jdbc.url>
                    jdbc:h2:tcp://172.17.0.9/sonar
                </sonar.jdbc.url>
            </properties>
        </profile>
    </profiles>
    <localRepository>/m2repo</localRepository>
</settings>